*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
}

body {
  margin: 32px 32px 80px 32px;
  background: linear-gradient(to bottom, #FFFFFE, #6246EA);
  font-family: 'Montserrat', sans-serif;
  color: #2B2C34;
}

.Hero-sub-headline p{
  font-size: 16px;
  font-weight: 500;
  color: #464646;
}

 .feature > h1{
  @apply text-[#2B2C34] font-semibold font-[16px];
}


.feature{
  @apply flex flex-col items-center gap-[16px] max-w-[250px] ;
}

.feature > p{
  @apply  text-[#F5F5F5] font-medium font-[12px];
} 


@media (min-width: 640px) { 
  body {
    margin: 40px 60px 160px 60px;
    background: linear-gradient(to bottom, #FFFFFE, #6246EA);
    font-family: 'Montserrat', sans-serif;
    color: #2B2C34;
  }
 

.App{
  display: flex;
  flex-direction: column;
  gap: 160px;
 
}

.App-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* cursor: pointer; */
}

.header-links{
  display: flex;
  gap: 40px;
} 

.header-link{
  color: #6246EA;
  font-weight: 600;
  font-size: 16px;
} 

.App-name{
  font-weight: 700;
  font-size: 32px;
}

.App-name:hover{
  scale: 105%;
  cursor: pointer;
}

.header-link:hover{
  color: #2B2C34;
  scale: 105%;
  cursor: pointer;
}

.App-body{
  display: flex;
  flex-direction: column;
  gap: 160px;
  align-items: flex-start;
  text-align: left;
}

.Hero-headline{
  font-size: 64px;
  font-weight: bold;
}
.Hero-sub-headline{
  font-size: 32px;
  font-weight: 400;
  color: #464646;
}

.Hero-sub-headline p{
  font-size: 32px;
  font-weight: 500;
  color: #464646;
}

.Hero-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

button{
  border: none;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  font-weight: 600;
}

button:hover{
   cursor: pointer;
   scale: 105%;
}

.Primary-button{
  background: #6246EA;
  color: #FFFFFE;
  border-radius: 8px;
}
.Secondary-button{
  background: #FFFFFE;
  color: #6246EA;
  border-radius: 8px;
}

.Hero-buttons{
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: flex-start;
}

.feature-title{
  font-weight: bold;
  font-size: 32px;
  
}




.App-footer{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
  flex-wrap: wrap;
  width: fit-content;
  align-items: flex-start;
}

.footer-links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-link{
  color: #FFFFFE;
  font-weight: 600;
  font-size: 16px;
} 

.footer-link:hover{
  color: #2B2C34;
  scale: 105%;
  cursor: pointer;
}

.feature-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.feature-line{
  height: 10px;
  width: 100px;
  background: #6246EA;
}

.feature-headline{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.feature{
  min-width: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  text-align: left;
}

.feature > p{
  font-weight: 500;
  color: #F5F5F5;
  font-size: 16px;
  max-width: 250px;
}

.feature > h1{
  font-weight: 600;
  color: #2B2C34;
  font-size: 20px;
}

.feature > figure > img{
  font-weight: 600;
  color: #2B2C34;
  font-size: 20px;
  margin-bottom: 20px;
  
}


.features{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
/* ..my-scrollbar::-webkit-scrollbar {
  display: none;
} */

/* For IE, Edge and Firefox */
.my-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* width */
.my-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.my-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.my-scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
