@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
  }

  @layer components {

    .sidebar-icons{
      @apply flex gap-4 w-full text-slate-500 pr-16 pl-8 hover:text-slate-700 hover:bg-slate-200;
    }

  }

  @keyframes bounce {
    0%, 100% {
        transform: translateX(-2%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.hover\:animate-slide:hover {
    animation: bounce 1s infinite;
}
