@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .sidebar-icons {
    @apply flex gap-4 w-full text-mode-headline-light pr-16 pl-8 hover:text-mode-sub-heading-dark hover:bg-mode-paragraph-light;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-2%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.hover\:animate-slide:hover {
  animation: bounce 1s infinite;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  @apply bg-mode-bg-light;
  font-family: "Montserrat", sans-serif;
}

.Hero-sub-headline p {
  font-size: 16px;
  font-weight: 500;
  color: #464646;
}

button {
  border: none;
  padding: 4px 8px;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  font-weight: 500;
}
.feature {
  @apply flex flex-col items-center gap-4 bg-mode-card-bg-dark p-8 rounded-lg lg:min-w-[200px] lg:max-w-[500px] lg:gap-2 lg:items-start lg:text-left;
}
.feature > p {
  @apply text-mode-card-paragraph-dark font-medium text-[12px] lg:text-[16px] max-w-[250px];
}

.feature > h1 {
  @apply text-mode-card-headline-dark font-semibold text-[16px] mt-[20px] lg:text-[20px];
}
.feature > a {
  @apply text-mode-link text-[12px] font-medium cursor-pointer underline underline-offset-8  flex items-center gap-2 hover:text-mode-card-paragraph-dark hover:scale-95 lg:text-[16px];
}

.Hero-sub-headline p {
  @apply lg:text-3xl lg:text-mode-paragraph-light lg:font-medium;
}

.App {
  margin: 60px 0px 160px 0px;
  display: flex;
  flex-direction: column;
  gap: 160px;
}

button:hover {
  cursor: pointer;
  scale: 105%;
}

button {
  border: none;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  font-weight: 600;
}



/* For IE, Edge and Firefox */
.my-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
.my-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.my-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.my-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
